In [1]:
# Basic dictionary

leaders = {'Barry': 762, 'Hank': 755, 'Babe': 714, 'Alex': 696}
leaders

{'Barry': 762, 'Hank': 755, 'Babe': 714, 'Alex': 696}

In [2]:
# Dictionaries can store lists

leaders_bats = {'Barry': [762, 'L'], 'Hank': [755, 'R'], 'Babe': [714, 'L'], 'Alex': [696, 'R']}
leaders_bats

{'Barry': [762, 'L'],
 'Hank': [755, 'R'],
 'Babe': [714, 'L'],
 'Alex': [696, 'R']}

In [3]:
# We can index them by name
leaders['Hank']

755

In [4]:
# But not position

#leaders[2]

In [5]:
# We can add new ones...

leaders['Albert'] = 679
leaders

{'Barry': 762, 'Hank': 755, 'Babe': 714, 'Alex': 696, 'Albert': 679}

Will you be accessing items by element?  *Dictionary*
Will you be accessing items by position? *Use a list*

###### If there's no intrinsic ordering of the items, Python will likely use a dictionary. 

Let's look at some examples particularly using Pandas...

In [6]:
import pandas as pd

# name columns -- order matters
leaders_df = pd.DataFrame(list(leaders.items()), columns=['name', 'home_runs'])
leaders_df

     name  home_runs
0   Barry        762
1    Hank        755
2    Babe        714
3    Alex        696
4  Albert        679

In [7]:
# Renaming columns -- ordering doesn't matter

leaders_df.rename(columns = {'home_runs': 'homers', 'name': 'player'}, inplace=True)
leaders_df

   player  homers
0   Barry     762
1    Hank     755
2    Babe     714
3    Alex     696
4  Albert     679

In [8]:
# Replace values -- order does not matter

leaders_df.replace({'Hank': 'Henry'}, inplace=True)
leaders_df

   player  homers
0   Barry     762
1   Henry     755
2    Babe     714
3    Alex     696
4  Albert     679

In [9]:
# (Not dictionary related)... 
# Insert a missing value

import numpy as np

leaders_df.loc[leaders_df['player']=='Barry', 'homers'] = np.NaN
leaders_df

   player  homers
0   Barry     NaN
1   Henry   755.0
2    Babe   714.0
3    Alex   696.0
4  Albert   679.0

In [10]:
# What happens if you take the average?

leaders_df['homers'].mean()

711.0

In [11]:
# How many non-null values are in each column?

leaders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   player  5 non-null      object
 1   homers  4 non-null      float64
dtypes: float64(1), object(1)
memory usage: 208.0+ bytes